$dark: #424242;
$light: #ffffff;
$primary: #3496fc;
$secondary: #da8656;
$light-select: rgb(164, 241, 255);


$gradient-screen: linear-gradient(149deg, rgba(18,215,251,1) 0%, rgba(52,149,253,1) 100%);
$gradient-screen-focus: linear-gradient(149deg, rgb(18, 194, 224) 0%, rgb(25, 135, 252) 100%);
$gradient-main: radial-gradient(circle, rgb(209, 209, 209) 0%, rgb(209, 209, 209) 100%);
$gradient-secondary: linear-gradient(149deg, rgba(255,166,74,1) 0%, rgba(218,134,86,1) 100%);
$gradient-secondary-focus: linear-gradient(149deg, rgb(253, 150, 47) 0%, rgb(212, 113, 56) 100%);
